{% extends 'base.html' %}

{% block body %}
<div class = 'main'>
    <h1>Welcome to Spaces</h1>
    <p>
        Our main aim is to help  you in your search for a good, secure living environment. 
        Our services we hpe will help bring you all the available options on the table.
        That you will be able to look at all the possibilities and finally make your choice.
        We hope to connect you to the management of the given places and help you secure your living spot.
        In case you have any ideas about how we can make this service better, be free to reach out.
    </p>
</div>

<div id = 'menu'>
    <ul>
        <li><a href=“index.html”>Home</a></li>
        <li><a href="houses.html">Houses</a></li>
    </ul>
</div>
{% endblock %}