<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <div class="container">
        <div class="navbar">
            <img src="static\images\Juniper Table.jpg" class="logo">
            <nav>
                <ul>
                    <li><a href="">HOME</a></li>
                    <li><a href="{{ url_for('map') }}">MAP</a></li>
                    <li><a href="{{ url_for('about') }}">ABOUT</a></li>
                </ul>
            </nav>
            <img src="static\images\icons8-menu-50.png" class="menu-icon">
        </div>
        
        <div class="row">
            <div class="col">
                <h1>Ranger</h1>
                <p>The project employs strategically placed sensors in forests, equipped with sound recognition technology
                    to detect signs of deforestation like vehicle movements, chainsaws, and tree cutting. Real-time alerts, 
                    including precise location details, are transmitted to authorities, enabling swift intervention.The 
                    technology integrates GPS for accuracy, reliable communication protocols, cloud-based storage, and analytics 
                    for historical trends. With scalability and cost-effectiveness in mind, the project aims to proactively 
                    combat deforestation, contributing to the preservation of vital ecosystems and sustainable forest management.</p>
                <button class="button">Explore</button>
            </div>
            <div class="col">
                <div class="card card1">
                    <h4>Ngong</h4>
                    <p>Lorem ipsum dolor eget isingur matongem shigali manyatta</p>
                    <button class="card-button" onclick="redirectToNgong()">Go to map</button>
                </div>
                <div class="card card2">
                    <h4>Kakamega</h4>
                    <p>Lorem ipsum dolor eget isingur matongem shigali manyatta</p>
                    <button class="card-button" onclick="redirectToKakamega()">Go to map</button>
                </div>
                <div class="card card3">
                    <h4>Karura</h4>
                    <p>Lorem ipsum dolor eget isingur matongem shigali manyatta</p>
                    <button class="card-button" onclick="redirectToKarura()">Go to map</button>
                </div>
                <div class="card card4">
                    <h4>Arberdare</h4>
                    <p>Lorem ipsum dolor eget isingur matongem shigali manyatta</p>
                    <button class="card-button" onclick="redirectToArberdare()">Go to map</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        function redirectToMap() {
            window.location.href = "{{ url_for('map') }}";
        }
        function redirectToKarura() {
            window.location.href = "{{ url_for('karura') }}";
        }
        
    </script>
</body>
</html>