{% extends 'base.html' %}

{% block head %}{% endblock %}

{% block body %}

<div id = 'navbar'>
    <a href=“login.html”>Login</a>
    <a href=“register.html”>Register</a>
</div>

<div class = 'main'>
    <h1>Welcome to Spaces</h1>
    <p>
        House hunting!<br>
        You have a new job in aa new place and have to move?<br>
        Been haded an eviction notice and have to find a new place ASAP?<br>
        Or do you wanna find a better place to live?<br>
        <b>WE GAT YOU!</b><br>
        Join us and let us help ou along this journey<br>
        Let's go hunting!

    </p>
</div>

<div id = 'menu'>
    <ul>
        <li><a href=“houses.html”>Houses</a></li>
        <li><a href=“about.html”>About Us</a></li>
    </ul>
</div>

{% endblock %}