<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <title>Home Page</title>
</head>
<body>
    <header>
        <h2>Save The Trees</h2>
    </header>
    
    <section>
        <nav>
        <ul>
            <li><a href="#">Alerts</a></li>
            <li><a href="#">Map</a></li>
            <li><a href="#">Contacts</a></li>
        </ul>
        </nav>
        
        <article>
        <h1>The Project</h1>
        <p>The project employs strategically placed sensors in forests, equipped with sound recognition technology
            to detect signs of deforestation like vehicle movements, chainsaws, and tree cutting. Real-time alerts, 
            including precise location details, are transmitted to authorities, enabling swift intervention.The 
            technology integrates GPS for accuracy, reliable communication protocols, cloud-based storage, and analytics 
            for historical trends. With scalability and cost-effectiveness in mind, the project aims to proactively 
            combat deforestation, contributing to the preservation of vital ecosystems and sustainable forest management.
        </p>
        <ul>
            <li>
                <a href="#">
                    <img src="static\images\ngong.jpg" alt="Ngong Forest" style="width:100px;height:100px;">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="static\images\karura.jpg" alt="Karura Forest" style="width:100px;height:100px;">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="static\images\mau.jpg" alt="Mau Forest" style="width:100px;height:100px;">
                </a>
            </li>
        </ul>
        </article>
    </section>
    
    <footer>
        <p>By Desmond Smith</p>
    </footer>
  
</body>
</html>