<!DOCTYPE html>
<html>
<head>
    <title>Ngong Forest</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='ngong.css') }}">
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
</head>
<body>
    <!-- Navbar -->
    <nav>
        <div class="header-nav-container">
            <h1>Forest Home Page</h1>
            <ul class="horizontal-menu">
                <li><a href="/">Home</a></li>
                <li><a href="/map">Map</a></li>
            </ul>
        </div>
    </nav>

    <!-- Main content -->
    <div class="container">
        <!-- Sidebar (left column) -->
        <div class="sidebar">
            <!-- Your sidebar content here -->
        </div>

        <!-- Main content (right column) -->
        <div class="grid-container">
            <!-- Your grid-container content here -->
            <!-- <div class="forest-box" style="background-image: url('/static/images/arberdare.jpg');">
                <div class="box-content">
                    <h3>Aberdare Forest</h3>
                </div>
            </div>
            
            <div class="forest-box" style="background-image: url('/static/images/ngong.jpg');">
                <div class="box-content">
                    <h3>Ngong Forest</h3>
                </div>
            </div>
             -->
            <!-- Box for Aberdare Forest -->
            <a href="/forest/aberdare" class="forest-box">
                <h3>Aberdare Forest</h3>
                <img src="/static/images/arberdare.jpg" alt="Aberdare Forest Image">
            </a>

            <!-- Box for Ngong Forest -->
            <a href="/forest/ngong" class="forest-box">
                <h3>Ngong Forest</h3>
                <img src="/static/images/ngong.jpg" alt="Ngong Forest Image">
            </a>

            <!-- Box for Boni Forest -->
            <a href="/forest/boni" class="forest-box">
                <h3>Boni Forest</h3>
                <img src="/static/images/boni.jpg" alt="Boni Forest Image">
            </a>
        </div>
    </div>

    <!-- Bottom navigation -->
    <nav class="navbar fixed-bottom navbar-light bg-light">
        <a class="navbar-brand" href="#">Page Description</a>
        <span class="navbar-text">
            Contact information
        </span>
    </nav>
</body>
</html>
