* { 
    box-sizing: border-box;
  } 
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style the header */
  header {
    background-color: #0a0a0a;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  
  /* Create two columns/boxes that floats next to each other */
  nav {
    float: left;
    width: 20%;
    height: 500px;  /* only for demonstration, should be removed  */
    background: #ccc;
    padding: 20px;
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  article {
    float: left;
    padding: 20px;
    width: 80%;
    background-color: #f1f1f1;
    height: 500px ; /* only for demonstration, should be removed */
  }

  article ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* background-color: #333333; */
  }
  
  article li {
    float: left;
    margin-right: 10px; /* Adjust spacing between images */
  }
  
  article li a {
    display: block;
    color: white; 
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }

  article li img {
    max-width: 100%;
    border-radius: 5px; /* Optional: Add border-radius for rounded corners */
  }

  /* Styling the links */
  a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: purple;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: blue;
    background-color: transparent;
    text-decoration: underline;
  }
  
  /* Clear floats after the columns */
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the footer */
  footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }
  
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }